@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
header {
  border-bottom: 1px solid rgba(194, 186, 186, 0.442);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  color: #131212;
}

.mainLogo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.rightIcons {
  padding: 7px 12px;
  border-radius: 50px;
  transition: 0.5s;
  border: 1px solid white;
}

.rightIcons i {
  font-size: 23px;
  margin-right: 7px;
}
.rightNav {
  gap: 10px;
}
.rightIcons span {
  font-size: 14px;
  color: #000;
}

#mobileNave {
  display: none;
}

@media (max-width: 768px) {
  .mainLogo {
    width: 60px;
    height: 60px;
  }
  #mobileNave {
    display: block;
  }
  #deskTopNav {
    display: none;
  }
}
